@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "vazir";
    src: url("../Fonts/Vazir/Vazir.ttf");
}

@font-face {
    font-family: "lalezar";
    src: url("../Fonts/Lalezar-Font/TTF/Lalezar-Regular.ttf");
}

@layer components {
    .active-menu {
        position: relative;
        background: linear-gradient(90deg, rgba(53, 60, 80, 1) 0%, rgba(0, 212, 255, 0) 100%);
        color: #fff;
        border-left: 5px solid #4869ff;
    }
}

body {
    transition: all 2s !important;
}
#sidebar {
    transition: all 2s !important;
}
#sidebar ul {
    transition: all 2s !important;
}

#sidebar li:hover {
    position: relative;
    background: linear-gradient(90deg, rgba(53, 60, 80, 1) 0%, rgba(0, 212, 255, 0) 100%);
    color: #fff;
    transition: all 400ms;
}

.home-boxes {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(190px, auto));
    gap: 1rem;
}

.home-box-title::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 3px;
    background-color: #1943da;
    border-radius: 25px;
    box-shadow: 0px 0px 5px 1px #1943da81;
    top: 50%;
    right: -15px;
}
.home-box-title::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 3px;
    background-color: #1943da;
    border-radius: 25px;
    box-shadow: 0px 0px 5px 1px #1943da81;
    bottom: 50%;
    left: -15px;
}

.swiper-pagination-bullet {
    width: 13px;
    border-radius:  50%;
    height: 13px;
    background: transparent;
    border: 2px solid #1943da;
    opacity: 1;
}
.swiper-pagination-bullet-active {
    width: 35px;
    height: 13px;
    border-radius: 10px;
    background-color: #1943da;
}

.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
}
.hamburger-top, .hamburger-middle, .hamburger-bottom{
    position: absolute;
    width: 24px;
    height: 2px;
    top: 0px;
    left: 0px;
    background: #1943da;
    transform: rotate(0);
    transition: all 0.5s;
}
.hamburger-middle{
    transform: translateY(7px);
}
.hamburger-bottom{
    transform: translateY(14px);
}
.open{
    transform: rotate(90deg)
}
.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translateX(6px);
    background: #ffffff;
}
.open .hamburger-middle {
    display: none;
    background: #ffffff;
}
.open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translateX(-6px);
    background: #ffffff;
}